@import "../../index.scss";

.form {
	padding: 0 30px;
	margin: 146.5px 13px 0 13px;
	flex: 1;
	:global(.adm-list-item-description) {
		display: none;
	}
	.footerBtn {
		margin: 90px auto 20px auto;
	}
	:global(.adm-button) {
		color: rgb(255, 255, 255);
		background-color: $tBlack;
		border: none;
		border-radius: 9999px;
		font-size: 16px;
		padding: 0 15px;
		min-height: 51px;
		width: 100%;
		font-family: $tFontHeavy;
	}
	:global(.adm-button-disabled) {
		opacity: 0.5;
	}
}

.formTitle {
	composes: formTitle from "../../main.module.scss";
}
.formContainer {
	composes: formContainer from "../../main.module.scss";
	margin-top: 11px;
}

.signup {
	margin: 10px 0 0 42px;
	a {
		margin-left: 5px;
		color: $tBlue;
		text-decoration: none;
	}
}
