@import "../../index.scss";

.container {
	height: 168px;
	margin: 13px 1px 10px 0;
	padding: 1px;

	:global(.adm-mask) {
		background-color: $tLightGray !important;
	}

	.wrapper {
		position: relative;
		height: 168px;
		.imgContainer {
			position: absolute;
			width: 50%;
			border-radius: 18px;
			box-sizing: border-box;
			overflow: hidden;
			.deleteIcon {
				position: absolute;
				top: 4px;
				left: 4px;
				z-index: 2;
				background-color: rgba(15, 20, 25, 0.75);
				border-radius: 9999px;
				height: 30px;
				width: 30px;
				text-align: center;
				svg {
					fill: #fff;
					font-size: 14px;
					width: 17px;
					height: 17px;
					margin-top: 6.5px;
					font-weight: 700;
				}
			}
			.img {
				width: 100%;
				height: 100%;
			}
		}
	}

	.wrapper1 {
		:global(.img0Container) {
			left: 0;
			width: 100%;
			object-fit: cover;
		}
	}

	.wrapper2 {
		:global(.img0Container) {
			left: 0;
			height: 168px;
			border-right: solid 6px #fff;
		}
		:global(.img1Container) {
			border-left: solid 6px #fff;
			left: 50%;
			height: 168px;
		}
	}
	.wrapper3 {
		:global(.img0Container) {
			left: 0;
			height: 168px;
			border-right: solid 6px #fff;
		}
		:global(.img1Container) {
			left: 50%;
			height: 84px;
			border-left: solid 6px #fff;
			border-bottom: solid 6px #fff;
		}
		:global(.img2Container) {
			left: 50%;
			top: 84px;
			height: 84px;
			border-left: solid 6px #fff;
			border-top: solid 6px #fff;
		}
	}
	.wrapper4 {
		:global(.img0Container) {
			left: 0;
			height: 84px;
			border-right: solid 6px #fff;
			border-bottom: solid 6px #fff;
		}
		:global(.img1Container) {
			left: 50%;
			height: 84px;
			border-left: solid 6px #fff;
			border-bottom: solid 6px #fff;
		}
		:global(.img2Container) {
			left: 50%;
			top: 84px;
			height: 84px;
			border-left: solid 6px #fff;
			border-top: solid 6px #fff;
		}
		:global(.img3Container) {
			left: 0;
			top: 84px;
			height: 84px;
			border-right: solid 6px #fff;
			border-top: solid 6px #fff;
		}
	}
}
