@import '../../index.scss';

.container {
	height: 53px;
	width: 53px;
	border-radius: 50%;
	position: fixed;
	bottom: 69px;
	right: 19px;
	z-index: 1;
	background-color: $tBlue;
	text-align: center;
	box-shadow: rgb(101 119 134 / 20%) 0px 0px 8px, rgb(101 119 134 / 25%) 0px 1px 3px 1px;
	.button {
		width: 23px;
		height: 23px;
		margin-top: 15px;
	}
}

