@import "../../index.scss";

.container {
	composes: mediumInput from '../../main.module.scss';
	position: relative;
}

.containerFocused {
	composes: container;
	border: solid 2px $tBlue;
}
.inValid {
	border: solid 2px $tRed;
}

.inValidContainer {
	border: solid 1px $tRed;
}

.label {
	position: absolute;
	top: 15px;
	left: 8px;
	width: 100%;
	padding-right: 20px;
	box-sizing: border-box;
	z-index: -1;
	transition: all 0.2s;
}

.labelFocused {
	composes: label;
	top: 5px;
	left: 8px;
	color: $tBlue;
	font-size: 13px;
	transition: all 0.2s;
}

.labelBlurred {
	color: $tGray;
}

.labelInvalid {
	composes: labelFocused;
	color: $tRed;
}
.labelTop {
	position: absolute;
	top: 5px;
	right: 8px;
	font-size: 13px
}

.input {
	height: 10px;
	margin-bottom: 0;
	margin-top: 10px;
	border: none;
}

.inputFocused {
    margin-bottom: 0;
	margin-top: 14px;
}