.header {
	height: 50px;
	text-align: center;
	position: relative;
}

.close {
	position: absolute;
	width: 17px;
	top: 17px;
	left: 16px;
}

.logo {
	height: 30px;
	margin-top: 11px;
	filter: invert(78%) sepia(42%) saturate(2247%) hue-rotate(207deg) brightness(89%) contrast(84%);
/*	filter: invert(66%) sepia(11%) saturate(4499%) hue-rotate(208deg) brightness(101%) contrast(98%);*/
}
