.header {
	height: 50px;
	position: relative;
	text-align: center;

	.close {
		position: absolute;
		top: 17px;
		left: 16px;
		width: 17px;
	}

	.leftArrow {
		position: absolute;
		top: 15px;
		left: 15px;
		width: 20px;
	}

	.logo {
		height: 35px;
		margin-top: 12px;
	}
}
