.header {
	height: 50px;
	text-align: center;
	position: relative;
}

.close {
	position: absolute;
	width: 17px;
	top: 17px;
	left: 16px;
}

.logo {
	height: 30px;
	margin-top: 14px;
/*	filter: invert(61%) sepia(91%) saturate(2631%) hue-rotate(159deg)
		brightness(90%) contrast(109%);*/
}
