@import "../../index.scss";

.header {
	height: 50px;
	position: relative;
	text-align: center;

	.close {
		position: absolute;
		top: 17px;
		left: 16px;
		width: 17px;
	}

	.leftArrow {
		position: absolute;
		top: 15px;
		left: 15px;
		width: 19px;
	}

	.logo {
		height: 35px;
		margin-top: 12px;
	}

	.logoLogin {
		position: absolute;
		top: 60px;
		left: 42px;
		height: 50px;
	}
}

.homePageHeader {
	position: fixed;
	height: 50px;
	top: 0;
	background-color: rgba(255, 255, 255, 0.95);
	width: 100%;
	z-index: 100;
}

.avatar {
	height: 30px;
	width: 30px;
	object-fit: cover;
	border-radius: 50%;
	position: absolute;
	top: 10px;
	left: 15px;
}


.title {
	font-size: 16px;
	font-color: $tBlack;
	font-family: $tFontHeavy;
	position: absolute;
	top: 16px;
	left: 68px;
	z-index: 1000;
}


	
