@value tBlack rgb(15, 20, 25);

.datePickerContainer {
	composes: input from '../../main.module.css';
	margin-top: 15px;
}

.datePickerName {
	color: rgb(83, 100, 113);
	padding-top: 8px;
	font-size: 16px;
	opacity: 0.3;
}

.datePickerPlaceholder {
	color: tBlack;
	font-size: 16px;
	margin-top: -8px;
	padding-right: 3px;
}

.calendarIcon {
	height: 15px;
	float: right;
}
