@import "../../index.scss";

.container {
	border-top: 1px solid $tBorderGray;
	padding: 10px 15px 0 15px;
}

.avatarContainer {
	width: 50px;
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	padding-left: 1px;
	.avatar {
		height: 46px;
		width: 46px;
		object-fit: cover;
		border-radius: 50%;
	}
}

.contentContainer {
	width: calc(100% - 50px);
	display: inline-block;
	padding: 2px 0 11px 7px;
	box-sizing: border-box;
	font-family: $tFont;
	.header {
		height: 20px;
		font-size: 14px;
		margin-bottom: 1px;
		.name {
			color: $tBlack;
			font-size: 14px;
		    font-family: $tFontBold;
			margin-right: 4px;
		}
	}
	.text {
		font-size: 14px;
		color: $tBlack;
		font-weight: 400;
		line-height: 19px;
	}

	.bar {
		:global(.adm-tab-bar-wrap){
			min-height: 19px;
		}
		:global(.adm-tab-bar-item){
			padding: 5px 0 0 0;
		}
	}
}