@value tBlue rgb(29, 155, 240);
@value tBlack rgb(15, 20, 25);

.form {
	padding: 0 30px;
}

.formTitle {
	font-size: 25px;
	font-weight: 700;
	height: 68px;
	line-height: 68px;
	color: tBlack;
}

.input {
	composes: input from '../../main.module.css'
}

.useEmail {
	color: tBlue;
	font-size: 14px;
	line-height: 19px;
	font-weight: 500;
	margin-top: -11px;
}


.datePickerTitleTitle {
	color: tBlack;
	font-size: 14px;
	font-weight: 700;
	margin-top: 19px;
	margin-bottom: 8px;
}

.footer {
	position: fixed;
	text-align: center;
	bottom: 23px;
	padding: 0 30px;
	width:  100%;
	box-sizing: border-box;
	min-height: 51px;
}

.footerBtn {
	margin: 0 auto;
	border-radius: 9999px;
	background-color: tBlack;
	opacity: 0.5;
	color: rgba(255, 255, 255);
	font-size: 16px;
	width: 100%;
	min-height: 51px;
	font-weight: 900;
}
