$tBlue: rgb(29, 155, 240);
$tBlack: rgb(15, 20, 25);
$tGray: rgb(83, 100, 113);
$tRed: rgb(244, 33, 46);

:global(.adm-input) {
	--placeholder-color: $tGray;
	opacity: 0.8;
}

.input {
	border: solid 1px rgb(207, 217, 222);
	border-radius: 4px;
	padding: 10px 9px 10px 8px;
	box-sizing: border-box;
	margin: 12px 0 0 0;
	color: $tGray;
	font-size: 16px;
	font-weight: 450;
}

.mediumInput {
	composes: input;
	height: 56px;
}

.largeInput {
	composes: input;
	height: 57px;
}
