@import "../../main.module.scss";

.container {
	border-top: 1px solid #eff3f4;
	position: fixed;
	z-index: 1;
	bottom: 0;
	left: 0;
	width: 100%;
	padding-bottom: 0.5px;
}

.icon {
	height: 24.5px;
}